:root {
    --color-white: #fff;
    --color-dazn-black: #0c161c;
    --color-dazn-yellow: #f6fa04;
    --color-dazn-off-white: #f8f9f8;
    --color-dazn-light-grey: #b6b9bb;
    --color-dazn-medium-grey: #3d4549;
    --color-dazn-dark-grey: #252d32;
}
